html,body{
    height: 100%;
    /*overflow: auto;*/
    /*overflow-x: hidden;*/
}

body{
    background: white;
}

.navbar{
    background-color: #960006 !important;
    box-shadow: 5px 5px 20px black;
    /*position: fixed;
    width: 99%;*/
}

.navbar-brand{
    font-size: 25px;
    font-weight: bold;
    margin-left: 2rem;    
}

.navbar a{
    color: white !important;
}

.jumbotron {    
    display: flex;
    align-items: center;
    background-image: url('img\employer_handshake.jpg');
    background-size: cover;
    color: #ffffff;
    height: 50vh;
    width: auto;
    text-shadow: 0.25px 0.25px 0.25px #fff;
    background-attachment: fixed;  
  }

#employer-options h1 {
    margin: 0 auto -2rem auto;
    padding: 2rem;
    top: -80px;
    position: relative;
    font-size: 40x;  
    color: #960006;
    text-align: center;
    background-color: white;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
  }
  
.btn-more {
    border-radius: 25px;
    color: #960006;
    margin: 30px 0 -200px 0;
  }

.btn-more:hover{
    background-color: #960006;
    border: #960006 1px solid;
    color: white;
  }

#btn-jobs{
    /*background-color: #960006;*/
    text-align: center !important;
}

.btn-jobs{
    font-size: 2rem !important;
    color: white;
    /*border: 3px solid #253374;*/
    border-radius: 10px;
    margin: 50px auto; 
    width: 12rem;
    background-color: #253374;    
    box-shadow: 8px 8px 10px gray;
    
}

.btn-jobs:hover{
    color:#253374;
    background: white;
    box-shadow: 0 2px #253374;
    border-radius: 10px;
}


@media screen and (max-width: 767px) {
    #employer-options h1{
        font-size: 40px;
    }
}

@media screen and (max-width: 500px) {
    #employer-options h1{
        font-size: 30px;
    }
}



/*
@media screen and (max-width: 500px) {
    .btn-jobs{
        margin-left: 20%;
    }
}*/

.modal-body{    
    /*padding: 2rem;*/
    text-align: center;
}
  

/*Continue testing categories modal*/
.select-category{
    color: #253374;
    padding: 2rem 3rem;
    background-color: #d9d9d9;  
    font-size: 5rem;
}

.select-category:hover{
    color:#d9d9d9;
    background-color: #253374;
}

.colSquare{
    padding: 0 !important;
}

.form-group{
    text-align: left;
    color:#253374;
    font-weight: bold;
}

#postJobModal{
    color: #960006;
}

.modal-content{
    background-color: #d9d9d9;
}
 
.modal-header{
    background-color: #960006;
    color: white;
}

.close{
    color: white;
}
.close:hover{
    color:white;
}