html, body{
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
     background-color: #e9ecef;
}


.navbar{
    background-color: #960006 !important;
    box-shadow: 5px 5px 20px black;
    /*position: fixed;
    width: 99%;*/
}

.navbar-brand{
    font-size: 25px;
    font-weight: bold;
    margin-left: 2rem;    
}

.navbar a{
    color: white !important;
}

/*.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;     
    background-color: white;
}*/


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
  font-weight: bold;
  color: #494C4E;
  outline-color: white;
  /*background-color: black;*/
  background-color: white;
  float: none;
  margin: 1rem;
  top: 5rem;
  height: auto;
  min-height: 20rem;
  max-height: 30rem;
  width: auto;
  padding: 1rem;
  /*margin-bottom: 100px;*/
}

/*.card-body {
	background: #68a2ff;
	color: white;
	/*padding-top: 10px;
	padding-bottom: 5px;
}*/

#job-card h4{
    color: #960006;
    text-align: center;
}

#job-static-card h4{
    color: #960006;
    text-align: center;
    visibility: invisible;
    opacity: 0;
}

.card-text{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 10px;
}

.card-text-owner{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 10px;
}
 


