html, body{
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
     background-color: #e9ecef;
}


.navbar{
    background-color: #960006 !important;
    box-shadow: 5px 5px 20px black;
    /*position: fixed;
    width: 99%;*/
}

.navbar-brand{
    font-size: 25px;
    font-weight: bold;
    margin-left: 2rem;    
}

.navbar a{
    color: white !important;
}


/*Card customization*/
/*
*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
  font-weight: bold;
  color: #494C4E;
  outline-color: white;
  margin-bottom: 1rem;
  /*background-color: black;*/
  background-color: white;
  float: none;
  top: 5rem;
  height: auto;
  min-height: 30rem !important;
  max-height: 30rem;
  /**min-width: 10rem;*/
  max-width: auto;
}


#job-card h4{
    color: #960006;
    text-align: center;
    margin:0;
    padding:0;
}

#job-static-card h4{
    color: #960006;
    text-align: center;
    /*visibility: invisible;
    opacity: 0;*/
}

.card-text{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.card-text-owner{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 10px;
}
 
.card-options{
    /*display:none;*/
    padding: 0.5rem;
    width:50%;
}

.student-options{
    /*display:inline-block;*/
    padding: 0.5rem;
    float:right;
}

/*.card:hover .card-options{
    display: inline-block !important;
}*/

.option-icon{
    color: #c6c6c6 !important;
    font-size: 1.5rem; 
    display:inline-block; 
    padding: 2px;
}

.option-icon:hover{
    color: #253374 !important;
}

.modal-header{
    background-color: #960006;
    color: white;
}

.close{
    color: white;
}
.close:hover{
    color:white;
}
