html,body{
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

body{
    background: white;
}

.navbar{
    background-color: #960006 !important;
}

.navbar-brand{
    font-size: 25px;
    font-weight: bold;
    margin-left: 2rem; 
	color: white !important
}

/*
.navbar a{
    color: #dfb2b4;
}

.navbar a:hover{
    color: white !important;
}
*/

.nav-item a{
	color: #dfb2b4 !important;
}

.nav-item a:hover{
	color: white !important;
}

#categories{
    background-color: white;
}

.category-icon{
    /*background-color: slateblue;*/
    /*border: 1px solid white;    */
    margin: 2rem 2rem 2rem 2rem !important;
    text-align: center !important;
}

.category-icon:hover{
    color: white !important;
    background-color: #253374;    
    border-radius: 8rem;
}

.category-icon a{
	color:inherit;
	text-decoration: none;
}

#category-heading h2{
    text-align:center !important;
    color:  #960006 !important;
}

.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
	color: #494C4E;
}

.option-icon{
    color: #c6c6c6 !important;
    font-size: 2rem; 
    display:inline-block; 
}

.option-icon:hover{
    color: #253374 !important;
}

.btn-outline-primary{
	background: white;
	color: #960006;
	font-weight: bold;
	border-color: #960006;
	float: right;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus {
  color: white !important;
  background-color: #960006 !important;
  border-color: #960006 !important;
  box-shadow: none !important;
}

.job-post{
    background-color: #d9d9d9;
    padding-bottom: 20rem;
}

/*
.navbar ul.navbar-right{
    float: right !important;
}*/