html, body{
    height: 100%;
    overflow: x-hidden;
}


body{
background-color: #960006 !important;
}


/*
    Here starts the styling of the jumbotron section
*/
.jumbotron {
    display: flex;
    align-items: center;
    color: white;
    background-color: #960006 !important;
    height: 44rem;
    width: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold !important;
    /*text-shadow: 0.25px 0.25px 0.25px #000000;*/
  
  }

img{
      height: 350px;
      width: 500px;
      -webkit-display: block !important; 
      display: block !important;
      margin: auto !important;      
      padding: auto !important;
      align-items: center !important;
  }

  @media screen and (max-width: 767px) {
    img{
      height: 280px;
      width: 400px;
      /*margin-left: 4rem;*/

    }
}

  @media screen and (max-width: 500px) {
    img{
      height: 200px;
      width: 320px;
      margin-right: 1rem;

    }
}

  p {
      display: inline-block;
      padding: 1rem 3rem;
  }

  h5{
    padding:3rem 0 0 0;
    margin:0 6rem 0 0;
  }

  h5 a{
      text-decoration: none;
      color: white;
      margin: auto 1rem;
   }
   h5 a:hover{
       text-decoration:none;
       color: black;
       font-weight: bolder;

   }
  
  .btn {
    border-radius: 20px !important;
    color: white;
    border: white 1px solid !important;
    
  }

  .btn:hover{
    color:#960006;
    background-color: white;
    border: white 1px solid;
    text-decoration: none;
  }
